<!DOCTYPE html>
<html>
    <meta charset="utf-8">
    <head>
        <style>
            #header
            {
                background: #856d51;
                padding: 0.7em;
                text-align: left;
            }
            
            #header a
            {
                color: white;
                text-decoration: none;
                padding: 0.5em 1em 0.5em 1em;
            }
            #title
            {
                color: #433729;
            }
            html
            {
                font-family: sans-serif;
            }
            body
            {
                line-height: 1.5em;
            }
            body
            {
                background: #FAFAFA;
            }
            table
            {
                border-collapse: collapse;
                width: 100%;
            }
            
            table, th, td
            {
                border: 1px solid #aaa;
                padding: 0.5em;
                margin-top: 0.5em;
                margin-bottom: 0.5em;
            }
            code, pre
            {
                font-family: monospace, serif;
                font-size: 1em;
                color: #7f0a0c;
                background: #f5f5f5;
                white-space: pre-wrap;
            }
            .contents
            {
                background: #FFFFFF;
                width: 720px;
                padding: 1em;
                margin-top: 2em;
                margin-bottom: 2em;
                border: 1px solid #E0E0E0;
                text-align: left;
                color: #444;
            }
            #footer
            {
                text-align: center;
            }
            #lang
            {
                float: right;
            }
        </style>
        <title>
            PSKOV
        </title>
    </head>
    <body>
        <div id="header">
            <strong id="title">ПСКОВ</strong>
            <a href="pskov_1.0.0+ru.html">Инструмент</a>
            <a href="education.html">Обучение</a>
            <div id="lang">
                <a href="../en/PSKOV_ITEM_URL">EN</a>
                <a href="../ru/PSKOV_ITEM_URL">RU</a>
            </div>
        </div>
        <center><h1>
PSKOV_ITEM_TITLE
        </h1></center>
        <center><div class="contents">
PSKOV_ITEM_CONTENTS
        </div></center>
        <div id="footer">
            Сайт сгенерирован <a href="http://opengamestudio.org/pskov">ПСКОВОМ</a>
            из <a href="http://github.com/ogstudio/site-pskov">этого исходного кода</a>.
            Сайт расположен на <a href="https://pages.github.com">GitHub Pages</a>.
        </div>
        <script type="text/javascript">
        </script>
    </body>
</html>

