AMLEO Style
table
{
    border-collapse: collapse;
}

table, th, td
{
    border: 1px solid #aaa;
    padding: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

AMLEO Impl
<p><strong>PSKOV</strong> is a simple static site generator that runs in your web browser.</p>

AMLEO ImplOld
<p>
    <strong>PSKOV</strong> is a simple but brilliant static site generator, and here's why:
    <table>
        <tr>
            <th>Functionality</th>
            <th>Technical details</th>
            <th>Meaning</th>
        </tr>
        <tr>
            <td>Generates static site</td>
            <td>Static site is simply a bunch of HTML files</td>
            <td>You can host static site anywhere, even preview locally, no server required</td>
        </tr>
        <tr>
            <td>Runs inside your web browser</td>
            <td><strong>PSKOV</strong> is a JavaScript application</td>
            <td>Any desktop with a web browser should be able to run <strong>PSKOV</strong></td>
        </tr>
        <tr>
            <td>Supports decades old operating systems</td>
            <td><strong>PSKOV</strong> uses ECMAScript 5 (2009), which is supported by old web browsers</td>
            <td>Microsoft Windows 2000 with Firefox 12 is enough to run <strong>PSKOV</strong>. Only update when <strong>you</strong> want, not <strong>them</strong></td>
        </tr>
        <tr>
            <td><strong>PSKOV</strong> is designed to work for decades</td>
            <td>ECMAScript 5 is a subset of later ECMAScript versions, i.e., when we use ECMAScript 5, we also use ECMAScript 6 but restrict ourselves to ECMAScript 5 functionality</td>
            <td>We expect web browsers to support <strong>PSKOV</strong> for at least a decade. Prove us wrong in 2030!</td>
        </tr>
        <tr>
            <td><strong>PSKOV</strong> is an example of so-called "Client side web"</td>
            <td><strong>PSKOV</strong> is strictly a client side JavaScript application</td>
            <td><strong>PSKOV</strong> does not send your data anywhere, you own <strong>PSKOV</strong>, you don't pay the bills, you juse use the tool</td>
        </tr>
    </table>
</p>
