AMLEO site-pskov.UI.Base/Style
            AMLEO site-pskov.UI.Menu/Style
            AMLEO site-pskov.UI.Title/Style
            AMLEO site-pskov.UI.Style/Font
            AMLEO site-pskov.UI.Style/LineHeight
            AMLEO site-pskov.UI.Style/Background
            AMLEO site-pskov.UI.Style/Table
            AMLEO site-pskov.UI.Style/Code
            AMLEO site-pskov.UI.Contents/Style
            AMLEO pskov.pskov_1.0.0.Style/Impl
AMLEO site-pskov.UI.Base/Title
            AMLEO site-pskov.UI.Title/Head
AMLEO site-pskov.UI.Base/Body
        AMLEO site-pskov.UI.Menu/Start
            AMLEO site-pskov.UI.Title/Body
            AMLEO site-pskov.UI.Tool/Menu
            AMLEO site-pskov.UI.Education/Menu
        AMLEO site-pskov.UI.Menu/End
        AMLEO site-pskov.UI.ContentsTitle/Begin
            AMLEO site-pskov.UI.Tool/Title
        AMLEO site-pskov.UI.ContentsTitle/End
        AMLEO site-pskov.UI.Contents/Begin
            AMLEO site-pskov.UI.Tool/Desc
            AMLEO pskov.pskov_1.0.0.UI/Impl
        AMLEO site-pskov.UI.Contents/End
AMLEO site-pskov.UI.Base/Script
            AMLEO pskov.pskov_1.0.0.Script/Impl
AMLEO site-pskov.UI.Base/End
